.footer-form {
    padding-top: 72px;
    padding-bottom: 94px;
    appearance: none;
}
.footer-form__label {
    margin-right: 12px;
}
.footer-form__txt {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--basic-white);
}

.footer-form__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--basic-white);

&::placeholder {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
}
